{% extends "../../pages/base.html" %} {% load static %} {% block title %} Điểm rèn luyện {% endblock %} {% block content %}

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>
    <!-- Main Header-->
    {% include './header.html' %} {% comment %} End {% endcomment %}
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="container-xl">
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h2>Điểm rèn luyện</b>
                                    </h2>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="diemrenluyenpageselect" style="
                               color: #888888;
                               border: 1px solid transparent;
                               border-radius: 50px;
                               background: #f5fbff;
                               ">
                                   <option value="0">Tất cả</option>
                                   <option value="1">1</option>
                                   <option value="2">2</option>
                                   <option value="3">3</option>
                                   <option value="4">4</option>
                                   <option value="5">5</option>
                                   <option value="6">6</option>
                                   <option value="7">7</option>
                                   <option value="8">8</option>
                                   </select>
                                </div>

                                <div class="col-sm-3">
                                    <button class="form-control" id="diemrenluyenpage">Đến</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>MSSV</th>
                                    <th style="width: 200px;">Họ Tên</th>
                                    <th>Điểm</th>
                                    <th>Kì</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for nguoidung in DS_NguoiDung %}
                                <tr>
                                    <th>{{nguoidung.IdUser}}</th>
                                    <th>{{nguoidung.TenNguoiDung}}</th>
                                    <th style="width: 200px;">{{nguoidung.HoTen}}</th>
                                    <th>{{nguoidung.Diem}}</th>
                                    <th>{{nguoidung.Ki}}</th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include './sidebar.html' %} {% endblock %}