{% load static %}
<header class="main-header">
    <!-- Header Upper -->
    <div class="header-upper">
        <div class="outer-container">
            <div class="clearfix">
                <!-- Header Left -->
                <div class="header-left clearfix">
                    <!-- Left Sidebar Btn -->
                    <div class="left-sidebar-btn hidden-bar-opener">
                        <span class="icon flaticon-menu-2"></span>
                    </div>
                    <div class="pull-left logo-box">
                        <div class="logo">
                            <a href="/"><img src="{% static 'images/logo.png' %}" alt="" title=""></a>
                        </div>
                        <div class="dark-layout-logo">
                            <a href="/"><img src="{% static 'images/logo-4.png' %}" alt="" title=""></a>
                        </div>
                    </div>
                    <!-- Search -->
                    <div class="search-box">
                        <form method="post" action="">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Tìm kiếm đề tài, sự kiện" required>
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Header Right -->
                <div class="header-right clearfix">
                    <!-- Options Box -->
                    <div class="options-box clearfix">
                        <div class="profile-box dropdown" id="someElementID5">
                            <div class="btn btn-default dropdown-toggle">
                                <span class="profile-image"><img src="{% static 'images/resource/user.png' %}" alt="" /></span> <i class="arrow flaticon-down-arrow"></i>
                            </div>
                            <div class="profile-content">
                                <div class="setting"><a href="setting.html">Settings</a></div>
                                <!-- Dark Mode -->
                                <div class="dark-mode">
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <div class="mode"><span class="icon"><img src="{% static 'images/icons/moon.png' %}" alt="" /></span>Chế độ tối</div>
                                        </div>
                                        <div class="pull-right">
                                            <!-- Dark Btns -->
                                            <ul class="dark-buttons clearfix">
                                                <li data-tab="#" class="off">Off</li>
                                                <li class="boll"><span class="round"></span></li>
                                                <li data-tab="#" class="on">On</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Pages -->
                                <ul class="pages">
                                    <li><a href="/dangxuat">Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->
    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon fa fa-remove"></span></div>
        <nav class="menu-box">
            <div class="nav-logo">
                <a href="/"><img src="{% static 'images/logo.png' %}" alt="" title=""></a>
            </div>
            <div class="menu-outer">
            </div>
        </nav>
    </div>
</header>