{% extends "../../pages/base.html" %} {% load static %} {% block title %} Quản lý loại đề tài {% endblock %} {% block content %}

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>
    <!-- Main Header-->
    {% include './header.html' %} {% comment %} End {% endcomment %}
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row">
                <div class="col-6">
                    <div class="table-responsive">
                        <div class="table-wrapper" style="min-width: unset;">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <h2>Quản lý loại đề tài</b>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên Loại</th>
                                        <th style="width: 100px;">Thao Tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for loai in DsLoai %}
                                    <tr>
                                        <td>{{loai.IdLoai}}</td>
                                        <td>
                                            <b>{{loai.TenLoai}}</b>
                                        </td>
                                        <td style="width: 100px;">
                                            <a href="/admin/loaidetai/xoa/{{loai.IdLoai}}" class="delete delete-user" loai="{{loai.IdLoai}}" title="Xóa" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-6">

                    <div class="styled-form">

                        <div class="table-responsive" style="overflow: hidden;">
                            <form>
                                <div class="row clearfix">
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                        <label>Tên</label>
                                        <input type="text" id="tenloaidetai" name="ten" value="" placeholder="Tên" required="">
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 text-center">
                                        <button id="themloaidetai" type="button" class="theme-btn btn-style-one"><span class="txt">Thêm</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Footer -->
    <!-- Sidebar Nav -->
    {% include './sidebar.html' %} {% endblock %}