{% load static %}
<footer class="main-footer ">
    <!-- Pattern Layer -->
    <div class="pattern-layer "></div>
    <div class="pattern-layer-two "></div>
    <div class="auto-container ">
        <!-- Footer Bottom -->
        <div class="footer-bottom text-center ">
            <div class="copyright ">Portal</div>
        </div>
    </div>
</footer>
</div>
<div class="sidenav-list ">
    <ul class="navbar ">
        <li><a href="/"><i class="icon flaticon-home "></i> <span><i class="flaticon-home "></i> Trang chủ</span></a></li>
        <li><a href="/admin/sinhvien"><i class="icon flaticon-book "></i> <span><i class="flaticon-book "></i>Quản lý sinh viên</span></a></li>
        <li><a href="/admin/giangvien"><i class="icon flaticon-test "></i> <span><i class="flaticon-test "></i>Quản lý giảng viên</span></a></li>
        <li><a href="/admin/admin"><i class="icon flaticon-report "></i> <span><i class="flaticon-report "></i>Quản lý admin</span></a></li>
        <li><a href="/admin/dshoatdong"><i class="icon flaticon-test "></i> <span><i class="flaticon-test "></i>Danh sách hoạt động</span></a></li>
        <li><a href="/admin/dshoatdongdk"><i class="icon flaticon-pie-chart-1 "></i> <span><i class="flaticon-pie-chart-1 "></i>Hoạt động đã đăng kí</span></a></li>
        <li><a href="/admin/loaihd/"><i class="icon flaticon-file "></i> <span><i class="flaticon-file "></i>Loại hoạt động</span></a></li>
        <li><a href="/admin/dsdetai/"><i class="icon flaticon-information "></i> <span><i class="flaticon-information "></i>Danh sách đề tài</span></a></li>


        <li><a href="/admin/dsdkdetai/"><i class="icon flaticon-report "></i> <span><i class="flaticon-report "></i>Đề tài đã đăng kí</span></a></li>
        <li><a href="/admin/loaidetai/"><i class="icon flaticon-test "></i> <span><i class="flaticon-test "></i>Loại đề tài</span></a></li>
        <li><a href="/admin/thongbao/"><i class="icon flaticon-pie-chart-1 "></i> <span><i class="flaticon-pie-chart-1 "></i>Thông báo</span></a></li>
        <li><a href="/dangxuat"><i class="icon flaticon-new-window "></i> <span><i class="flaticon-new-window "></i>Đăng xuất</span></a></li>
    </ul>
</div>

<section class="hidden-bar left-align ">
    <div class="color-layer "></div>
    <div class="hidden-bar-closer ">
        <span class="flaticon-multiply "></span>
    </div>
    <!-- Hidden Bar Wrapper -->
    <!-- Show hide left bảr -->
    <div class="hidden-bar-wrapper ">
        <div class="heading ">Quản lý người dùng</div>
        <ul class="pages-list ">
            <li><a href="/admin/sinhvien"><span class="icon flaticon-book "></span>Sinh Viên</a></li>
            <li><a href="/admin/giangvien"><span class="icon flaticon-category "></span>Giảng Viên</a></li>
            <li><a href="/admin/admin"><span class="icon flaticon-test "></span>Quản Trị Viên</a></li>
        </ul>
        <div class="heading ">Quản lý hoạt động</div>
        <ul class="pages-list ">
            <li><a href="/admin/dshoatdong"><span class="icon flaticon-article "></span>Danh sách hoạt động</a></li>
            <li><a href="/admin/dshoatdongdk"><span class="icon flaticon-article "></span>Danh sách đăng kí hoạt động</a></li>
            <li><a href="/admin/loaihd/"><span class="icon flaticon-article "></span>Loại hoạt động</a></li>
        </ul>

        <div class="heading ">Quản lý đề tài</div>
        <ul class="pages-list ">
            <li><a href="/admin/dsdetai/"><span class="icon flaticon-article "></span>Danh sách đề tài</a></li>
            <li><a href="/admin/dsdkdetai/"><span class="icon flaticon-article "></span>Danh sách đăng kí đề tài</a></li>
            <li><a href="/admin/loaidetai/"><span class="icon flaticon-article "></span>Loại đề tài</a></li>
        </ul>
        <div class="heading ">Thông báo</div>
        <ul class="pages-list ">
            <li>
                <a href="/admin/thongbao"><span class="icon flaticon-article "></span>Quản lý thông báo</a></li>
        </ul>
    </div>
    <div class="copyright-text ">Portal</div>
</section>