{% load static %}
<footer class="main-footer ">
    <!-- Pattern Layer -->
    <div class="pattern-layer "></div>
    <div class="pattern-layer-two "></div>
    <div class="auto-container ">
        <!-- Footer Bottom -->
        <div class="footer-bottom text-center ">
            <div class="copyright ">Copyright &copy; 2020 AuburnForest</div>
        </div>
    </div>
</footer>
</div>
<div class="sidenav-list ">
    <ul class="navbar ">
        <li><a href="/"><i class="icon flaticon-home "></i> <span><i class="flaticon-home "></i> Trang chủ</span></a></li>
        <li><a href="danh-sach-de-tai.html "><i class="icon flaticon-book "></i> <span><i class="flaticon-book "></i>Danh sách đề tài</span></a></li>
        <li><a href="danh-sach-hoat-dong.html "><i class="icon flaticon-test "></i> <span><i class="flaticon-test "></i>Các hoạt động</span></a></li>
        <li><a href="de-tai-cua-toi.html "><i class="icon flaticon-report "></i> <span><i class="flaticon-report "></i>Đề tài của tôi</span></a></li>
        <li><a href="hoat-dong-cua-toi.html "><i class="icon flaticon-test "></i> <span><i class="flaticon-test "></i>Hoạt động của tôi</span></a></li>
        <li><a href="danh-sach-giang-vien.html "><i class="icon flaticon-pie-chart-1 "></i> <span><i class="flaticon-pie-chart-1 "></i>Giảng viên</span></a></li>
        <li><a href="cai-dat.html "><i class="icon flaticon-file "></i> <span><i class="flaticon-file "></i>Quản lý tài khoản</span></a></li>
        <li><a href="huong-dan.html "><i class="icon flaticon-information "></i> <span><i class="flaticon-information "></i>Hướng dẫn</span></a></li>
        <li><a href="/dangxuat"><i class="icon flaticon-new-window "></i> <span><i class="flaticon-new-window "></i>Đăng xuất</span></a></li>
    </ul>
</div>

<section class="hidden-bar left-align ">
    <div class="color-layer "></div>
    <div class="hidden-bar-closer ">
        <span class="flaticon-multiply "></span>
    </div>
    <!-- Hidden Bar Wrapper -->
    <!-- Show hide left bảr -->
    <div class="hidden-bar-wrapper ">
        <div class="heading ">Quản lý người dùng</div>
        <ul class="pages-list ">
            <li><a href="/admin/sinhvien "><span class="icon flaticon-book "></span>Sinh Viên</a></li>
            <li><a href="/admin/giangvien"><span class="icon flaticon-category "></span>Giảng Viên</a></li>
            <li><a href="/admin/admin"><span class="icon flaticon-test "></span>Quản Trị Viên</a></li>
        </ul>
        <div class="heading ">Quản lý đề tài</div>
        <ul class="pages-list ">
            <li><a href="dashboard.html "><span class="icon flaticon-home "></span>Danh sách đề tài</a></li>
            <li><a href="manage-course.html "><span class="icon flaticon-test "></span>Danh sách đăng ký đề tài</a></li>
        </ul>
        <div class="heading ">Quản lý đề tài</div>
        <ul class="pages-list ">
            <li><a href="enrolled-courses.html "><span class="icon flaticon-test "></span>Danh sách đề tài</a></li>
            <li><a href="certificate.html "><span class="icon flaticon-skills "></span>Danh sách đăng ký đề tài</a></li>
        </ul>
        <div class="heading ">Quản lý hoạt động</div>
        <ul class="pages-list ">
            <li><a href="blog-detail.html "><span class="icon flaticon-article "></span>Danh sách hoạt động</a></li>
            <li><a href="not-found.html "><span class="icon flaticon-garbage "></span>Danh sách đăng ký hoạt động</a></li>
        </ul>
        <div class="heading ">Môn Học</div>
        <ul class="pages-list ">
            <li><a href="blog-detail.html "><span class="icon flaticon-article "></span>Quản lý môn học</a></li>
        </ul>
        <div class="heading ">Thông Báo</div>
        <ul class="pages-list ">
            <li><a href="blog-detail.html "><span class="icon flaticon-article "></span>Quản lý thông báo</a></li>
        </ul>
    </div>
    <div class="copyright-text ">Template by &copy; 2020 AuburnForest</div>
</section>