{% extends "../../pages/base.html " %} {% load static %} {% block title %} {{title}} {% endblock %} {% block content %}
<div class="page-wrapper ">
    <!-- Preloader -->
    <div class="preloader "></div>
    <!-- Main Header-->
    {% include './header.html' %}
    <!-- End -->
    <div class="sidebar-page-container ">
        <div class="edit-cource-section ">
            <div class="auto-container ">
                <!-- Sec Title -->
                <div class="sec-title ">
                    <div class="clearfix ">
                        <div class="pull-left ">
                            <h4>Thêm đề tài</h4>
                        </div>
                    </div>
                </div>
                <div class="inner-container ">
                    <div class="row clearfix ">
                        <!-- Left Column -->
                        <div class="left-column col-lg-12 col-md-12 col-sm-12 ">
                            <div class="inner-column ">
                                <!-- Edit Course Form -->
                                <div class="edit-course-form ">
                                    <form method="POST" action="{% url 'sua_detai' %}">
                                        <!-- Form Group -->
                                        <div class="form-group ">
                                            <label>Tên đề tài</label>
                                            <input type="text" name="tenDeTai" value="" placeholder="Tên đề tài" required=" ">
                                        </div>
                                        <div class="form-group">
                                            <label>Khóa</label>
                                            <select class="custom-select-box" name="khoaDeTai" style="display: none;">
                                            {% for khoa in DsKhoa %}
                                                <option value="{{khoa.IdKhoa}}">{{khoa.TenKhoa}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Loại</label>
                                            <select class="custom-select-box" name="loaiDeTai" style="display: none;">
                                                {% for loai in DsLoai %}
                                                <option value="{{loai.IdLoai}}">{{loai.TenLoai}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group ">
                                            <label>Số lượng sinh viên</label>
                                            <input type="number" name="soLuongDKDeTai" value="" placeholder="Số lượng tối đa" required=" ">
                                        </div>
                                        <div class="form-group ">
                                            <label>Ngày bắt đầu</label>
                                            <input type="date" name="ngayBDDeTai" value="" placeholder="Ngày bắt đầu" required=" ">
                                        </div>
                                        <div class="form-group ">
                                            <label>Ngày kết thúc</label>
                                            <input type="date" name="ngayKTDeTai" value="" placeholder="Ngày kết thúc" required=" ">
                                        </div>
                                        <div class="form-group ">
                                            <label>Chi Tiết</label>
                                            <textarea name="chiTiet" value="" placeholder="Chi tiết" required=" "></textarea>
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group ">
                                            <button type="submit" class="theme-btn btn-style-two "><span class="txt ">Thêm</span></button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include './sidebar.html' %}
    <!-- End -->
    {% endblock %}