{% extends "../../pages/base.html " %} {% load static %} {% block title %} {{title}} {% endblock %} {% block content %}
<div class="page-wrapper ">
    <!-- Preloader -->
    <div class="preloader "></div>
    <!-- Main Header-->
    {% include './header.html' %}
    <!-- End -->
    <div class="sidebar-page-container ">
        <div class="edit-cource-section ">
            <div class="auto-container ">
                <!-- Sec Title -->
                <div class="sec-title ">
                    <div class="clearfix ">
                        <div class="pull-left ">
                            <h4>Thêm hoạt động</h4>
                        </div>
                    </div>
                </div>
                <div class="inner-container ">
                    <div class="row clearfix ">
                        <div class="left-column col-lg-12 col-md-12 col-sm-12 ">
                            <div class="inner-column ">
                                <h6>Basic Information</h6>
                                <div class="edit-course-form ">
                                    <form method="POST" action="{% url 'them_hoatdong' %}">
                                        <div class="form-group ">
                                            <label>Tên hoạt động</label>
                                            <input type="text " name="tenHoatDong" value="" placeholder="Tên hoạt động" required=" ">
                                        </div>
                                        <div class="form-group ">
                                            <label>Kì</label>
                                            <input type="number" name="kiHoatDong" value="" placeholder="Kì" required=" ">
                                        </div>
                                        <div class="form-group ">
                                            <label>Số lượng</label>
                                            <input type="number" name="soLuongTGHD" value="" placeholder="Số lượng" required=" ">
                                        </div>
                                        <div class="form-group">
                                            <label>Điểm rèn luyện</label>
                                            <input type="number" name="diemHoatDong" value="" placeholder="Điểm" required=" ">
                                        </div>

                                        <div class="form-group ">
                                            <label>Ngày bắt đầu</label>
                                            <input type="date" name="ngayBDHD" value="" placeholder="Ngày bắt đầu" required=" ">
                                        </div>
                                        <div class="form-group ">
                                            <label>Ngày kết thúc</label>
                                            <input type="date" name="ngayKTHD" value="" placeholder="Ngày kết thúc" required=" ">
                                        </div>
                                        <div class="form-group ">
                                            <label>Chi Tiết</label>
                                            <textarea type="text" name="chiTietHD" value="" placeholder="Chi Tiết" required=" "></textarea>
                                        </div>
                                        <div class="form-group ">
                                            <button type="button " class="theme-btn btn-style-two"><span class="txt ">Thêm hoạt động</span></button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include './sidebar.html' %} {% endblock %}