{% extends"../../pages/base.html" %} {% load static %} {% block title %} Sửa người dùng {% endblock %} {% block content %}
<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>
    <!-- Main Header-->
    {% include './header.html' %}
    <!-- End header -->
    <div class="sidebar-page-container">
        <section class="signup-section">
            <div class="auto-container">
                <div class="logo">
                    <a href="/"><img src="{% static 'images/logo.png' %}" alt=""></a>
                </div>
                <div class="inner-container">
                    <h2>Sửa người dùng<span class="theme_color">{{TenNguoiDung}}</span></h2>
                    <div class="text"></div>
                    <!-- Login Form -->
                    <div class="styled-form">
                        <form id="form_sua_nguoi_dung">
                            <div class="row clearfix">
                                <!-- Form Group -->
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Họ và tên</label>
                                    <input type="text" name="fullname" value="{{HoTen}}" placeholder="Họ và tên" required="">
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Số điện thoại</label>
                                    <input type="text" name="phone" value="{{SDT}}" placeholder="0123456789" required="">
                                </div>

                                <!-- Form Group -->
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Email</label>
                                    <input type="email" name="email" value="{{Email}}" placeholder="Email" required="">
                                </div>
                                <!-- Form Group -->
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Giới Tính</label>
                                    <select class="form-control" name="gender" style="padding: 10px 25px;
                                    color: #888888;
                                    border: 1px solid transparent;
                                    height: 46px;
                                    border-radius: 50px;
                                    background: #f5fbff;
                                    -ms-transition: all 300ms ease;
                                    -o-transition: all 300ms ease;
                                    -moz-transition: all 300ms ease;
                                    transition: all 300ms ease;
                                    font-family: 'Roboto', sans-serif;">
                                        <option value="1" {%if GioiTinh == 1 %} selected{%endif%}>Nam</option>
                                        <option value="2" {%if GioiTinh == 2 %} selected{%endif%}>Nữ</option>
                                        <option value="3" {%if GioiTinh == 3 %} selected{%endif%}>Khác</option>
                                        </select>
                                </div>
                                <!-- Form Group -->
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Ngày sinh</label>
                                    <input type="date" name="dob" value="{{NgaySinh|date:'Y-m-d'}}" placeholder="Ngày sinh" required="">
                                </div>

                                <!-- Form Group -->
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Quyền</label>
                                    <select class="form-control" name="gender" style="padding: 10px 25px;
                                    color: #888888;
                                    border: 1px solid transparent;
                                    height: 46px;
                                    border-radius: 50px;
                                    background: #f5fbff;
                                    -ms-transition: all 300ms ease;
                                    -o-transition: all 300ms ease;
                                    -moz-transition: all 300ms ease;
                                    transition: all 300ms ease;
                                    font-family: 'Roboto', sans-serif;">
                                        <!-- <option value="1" {%if Quyen == 1 %} selected{%endif%}>Admin</option> -->
                                        <option value="2" {%if Quyen == 2 %} selected{%endif%}>Giảng Viên</option>
                                        <option value="3" {%if Quyen == 3 %} selected{%endif%} selected>Sinh Viên</option>
                                        </select>
                                </div>
                                <!-- Form Group -->
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Mật khẩu</label>
                                    <span class="eye-icon fa fa-eye"></span>
                                    <input type="password" name="password" value="111222" placeholder="Password">
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Đổi mật khẩu</label>
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" id="choPhepDoiMk">
                                        <label for="choPhepDoiMk">Đổi mật khẩu mới</label>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 text-center">
                                    <button nguoidungID="{{IdUser}}" id="SuaNguoiDungBtn" type="button" class="theme-btn btn-style-one"><span class="txt">Cập nhật thông tin</span></button>
                                </div>

                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <div class="users">Trở về <a href="/">Trang chủ</a></div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Main Footer -->
    <!-- End pagewrapper -->
    <!-- Sidebar Nav -->
    {% include './sidebar.html' %}
    <!-- Sidebar End -->
    {% endblock %}