{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <!-- Stylesheets -->
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.css'%}" rel="stylesheet">
    <link href="{% static 'css/responsive.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&amp;family=Roboto:wght@300;400;500;700;900&amp;display=swap" rel="stylesheet">
    <!-- Color Switcher Mockup -->
    <link href="{% static 'css/color-switcher-design.css'%}" rel="stylesheet">
    <!-- Color Themes -->
    <link id="theme-color-file" href="{% static 'css/color-themes/theme-one.css'%}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/favicon.png'%}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.png'%}" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body class="">
    {% block content %} {% endblock %}
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.fancybox.js'%}"></script>
    <script src="{% static 'js/appear.js'%}"></script>
    <script src="{% static 'js/isotope.js'%}"></script>
    <script src="{% static 'js/owl.js'%}"></script>
    <script src="{% static 'js/wow.js'%}"></script>
    <script src="{% static 'js/jquery.countdown.js'%}"></script>
    <script src="{% static 'js/jquery-ui.js'%}"></script>
    <script src="{% static 'js/script.js'%}"></script>
    <script src="{% static 'js/color-settings.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
</body>

</html>